{% extends "base.html" %}
{% block title %}トップページ{% end %}
{% block content %}
    <h1>教師あり機械学習の教師データの作成</h1>
    <p>このサイトでは牛丼の種類に応じて手作業で写真を振り分けます。</p>
    <p>現在はフォルダでデータ管理をしていますが、のちにデータベースに変更します</p>

    <!-- <img src='gyudon images'/> -->
    <img src='{{ image_path }}'>
    <!-- <form> もしbuttonがクリックされればそのフォルダに振り分ける</form> -->
    <p><a class="btn btn-primary btn-lg" href="/" role="button">普通の牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">紅生姜牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">ねぎ玉牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">チーズ牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">その他</a></p>
{% end %}