{% extends "base.html" %}
{% block title %}トップページ{% end %}
{% block content %}
    <h1>プログラミング言語の紹介</h1>
    <p>
        　こんにちは！このサイトではプログラミング言語の紹介をしています。
        具体的には、Python、PP、Rubyの３つです。

    </p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">普通の牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">紅生姜牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">ねぎ玉牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">チーズ牛丼</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">その他</a></p>
{% end %}